@using HaftalikGorev.Entities;

@model Category
@{
    ViewData["Title"] = Model.Name;
}

<header class="bg-dark py-3">
    <div class="container px-1 px-lg-3 my-1">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">@Model.Name</h1>
            <p class="lead fw-normal text-white-50 mb-0">@Model.Description</p>
        </div>
    </div>
</header>

